@model ProjectBackend.Models.GameLessonData

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GameLessonData</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameData.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WordAssetData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WordAssetData.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WordTeaching)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WordTeaching)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WordDisturbing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WordDisturbing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameConfigJson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameConfigJson)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
